.hero {
  margin: 0;
  padding: 0;
}

.hero__back {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/index-background-mobile@1x.jpg") top center/cover no-repeat;
  height: 302px;
  padding-top: 27px;
}

.hero__can {
  @include Center;
  flex-direction: column;
  padding: 0 20px;
  margin-top: -150px;
}

.hero__header {
  font-family: $font-main;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.hero__text {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
}

.hero__can-link {
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  background-color: $green;
  width: 100%;
  @include Center;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;
  padding: 8px, 44px, 8px, 44px;
}
