.main-nav {
  background-color: #ffffff;
  position: relative;
}

.main-nav__menu-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 66px;
  border-bottom: solid 1px #e6e6e6;
}

.main-nav__logo-text {
  padding-right: 20px;
}

.main-nav__buttons {
  @include Center;
}

.main-nav__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav__dropdown--hide {
  display: none;
}

.main-nav__dropdown--open {
  display: flex;
}

.main-nav__open {
  border: none;
  background-color: #ffffff;
  position: absolute;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.main-nav__open--open {
  display: inline-block;
}

.main-nav__open--hide {
  display: none;
}

.main-nav__close {
  border: none;
  background-color: #ffffff;
  position: absolute;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.main-nav__close--open {
  display: inline-block;
}

.main-nav__close--hide {
  display: none;
}



.main-nav__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__item {
  list-style: none;
  height: 66px;
  border-bottom: solid 1px #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__link {
  text-decoration: none;
  box-sizing: border-box;
  padding: 10px 30px;
  font-family: $font-main;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  cursor: pointer;
}

.main-nav__logo-image--tablet,
.main-nav__logo-image--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__logo-image--tablet {
    display: block;
  }

  .main-nav__logo-image--desktop,
  .main-nav__logo-image--mobile {
  display: none;
  }

  .main-nav__logo-image--tablet {
    padding-right: 12px;
  }

  .main-nav__menu-panel {
    justify-content: flex-start;
    border-bottom: none;
  }

  .main-nav__buttons {
    display: none;
  }

  .main-nav__dropdown--hide {
    display: block;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 18px;
    padding: 0;
  }

  .main-nav__item {
    border-bottom: none;
    height: 40px;
    margin-top: 15px;
  }

  .main-nav__item--current {
    border-bottom: solid 2px $green;
  }

  .main-nav__item:not(last-child) {
    margin-right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1270px;
    margin: 0 auto;
    padding-top: 50px;
    position: absolute;
    background: none;
    z-index: 11;
    margin-left: 90px;
  }

  .main-nav__logo-image--desktop {
    display: block;
  }

  .main-nav__logo-image--tablet,
  .main-nav__logo-image--mobile {
    display: none;
  }

  .main-nav__logo-image--desktop {
    margin-right: 14px;
  }

  .main-nav__link {
    color: $white;
    line-height: 30px;
    font-weight: 500;
  }

  .main-nav__item--current {
    border-bottom: solid 2px $white;
  }

  .main-nav__item:not(last-child) {
    margin-right: 40px;
  }
}

